<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img [src]="imageUrl" alt="logo" />
              </div>
              <h4 class="card-title">Ajouter Condidat</h4>
             
              <form class="forms-sample">
                <div class="form-group">
                  <label for="Nom">Nom</label>
                  <input
                    type="text"
                    class="form-control"
                    id="Nom"
                    placeholder="Nom"
                  />
                </div>
                <div class="form-group">
                  <label for="Prenom">Prenom</label>
                  <input
                    type="text"
                    class="form-control"
                    id="Prenom"
                    placeholder="Prenom"
                  />
                </div>
                <div class="form-group">
                  <label for="Email">Pseudo</label>
                  <input
                    type="text"
                    class="form-control"
                    id="pseudo"
                    placeholder="pseudo du condidat"
                  />
                </div>
                <div class="form-group">
                  <label for="cin">Numéro carte d'identité</label>
                  <input
                    type="text"
                    class="form-control"
                    id="cin"
                    placeholder=""
                  />
                </div>
                
               
               
                
                
               
                <a href="/election" class="btn btn-primary me-2">Enregistrer</a>
  
                <button class="btn btn-light">Annuler</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  