<br />
<br />
<br />
<br />
<div class="section-title" data-aos="fade-up">
  <h2>Services</h2>
</div>
<section id="services" class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 class="title">
            <a href="/election">Créez vos propres élections sécurisées !</a>
          </h4>
          <p class="description">
            Nous offrons des options de personnalisation flexibles pour répondre
            aux besoins spécifiques de chaque élection. Nous permettons aux
            organisateurs d'élection de personnaliser les paramètres de vote
            tels que les dates et heures de vote, les options de vote, les
            règles de validation et les résultats de l'élection. Nous sommes
            engagés à offrir une expérience de création d'élection pratique et
            sécurisée pour tous les utilisateurs de notre plateforme.
          </p>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-stretch">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 class="title">
            <a href="/allelections"
              >Voir toutes les élections que vous avez créées !</a
            >
          </h4>
          <p class="description">
            Nous offrons une option que vous pouvez voir toutes les élections
            que vous avez créées.
          </p>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-stretch">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4 class="title"><a href="/intermediaire">Voter</a></h4>
          <p class="description">Entrez le code de l'élection et votez.</p>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-stretch">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4 class="title"><a href="/stat-code">Resultats !</a></h4>
          <p class="description">
            Entrez le code de l'élection et visualiser les résultats!.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
