<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <div class="brand-logo">
              <img [src]="imageUrl" alt="logo" />
            </div>
            <h4 class="card-title">Formulair d'inscription</h4>
            <p class="card-description">Inscrivez-vous dans notre plateforme</p>
            <form class="forms-sample">
              <div class="form-group">
                <label for="Nom">Nom</label>
                <input
                  type="text"
                  class="form-control"
                  id="Nom"
                  placeholder="Nom"
                />
              </div>
              <div class="form-group">
                <label for="Prenom">Prenom</label>
                <input
                  type="text"
                  class="form-control"
                  id="Prenom"
                  placeholder="Prenom"
                />
              </div>
              <div class="form-group">
                <label for="Email">Email</label>
                <input
                  type="text"
                  class="form-control"
                  id="Email"
                  placeholder="example@gmail.com"
                />
              </div>
              <div class="form-group">
                <label for="cin">Numéro carte d'identité</label>
                <input
                  type="text"
                  class="form-control"
                  id="cin"
                  placeholder=""
                />
              </div>
              <div class="form-group">
                <label for="bac">Titulaire de baccalauréat</label><br>
                <select name="bac" class="custom-select">
                    <option value="0">--Oui ou Non</option>
                    <option value="1">Oui</option>
                    <option value="2">Non</option>
                  </select>
              </div>
              <div class="form-group">
                <label for="age">Date de naissance</label>
                <input
                  type="date"
                  class="form-control"
                  id="age"
                  placeholder=""
                />
              </div>
              <div class="form-group">
                <label for="genre">Genre</label>
                <input
                  type="text"
                  class="form-control"
                  id="genre"
                  placeholder="Homme/Femme"
                />
              </div>
              <div class="form-group">
                <label for="region">Region</label><br />
                <select name="region" class="">
                  <option value="">--Choisir une region--</option>
                  <option value="nord">nord</option>
                  <option value="sud">sud</option>
                  <option value="ouest">ouest</option>
                  <option value="est">est</option>
                </select>
              </div>
              <div class="form-group">
                <label for="password">Mot de passe</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder=""
                />
              </div>
              <div class="form-group">
                <label for="confirmepassword">Confirmer mot de passe</label>
                <input
                  type="password"
                  class="form-control"
                  id="confirmepassword"
                />
              </div>
              <a href="home" class="btn btn-primary me-2">Enregistrer</a>

              <button class="btn btn-light">Annuler</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
