<!-- partial -->
<br />
<br />
<br />
<br /><br /><br />
<br />
<br />
<br />
<div class="main-panel-navbaradmin">
  <div class="container-wrapper">
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Inviter un Personne pour voter !</h4>
            <h3 class="card-title" style="color: cornflowerblue">
              Entrer l'Email du personne
            </h3>
            <p class="card-description">
              vous pouver inviter des personnes pour voter !
            </p>
            <form class="forms-sample">
              <div class="form-group">
                <label for="Titre">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="titre"
                  placeholder="Titre"
                  formControlName="titre"
                />
              </div>

              <button type="submit" class="btn btn-primary me-2">
                Inviter
              </button>

              <button class="btn btn-light">Annuler</button>
            </form>
          </div>
        </div>
      </div>

      <!-- content-wrapper ends -->
    </div>
  </div>
</div>
