
<div class="main-panel-navbaradmin">
  <div class="content-wrapper-add">
    <div class="row">
      <div class="card card-rounded">
        <div class="card-body">
          <div class="d-sm-flex justify-content-between align-items-start">
            <div>
              <h4 class="card-title card-title-dash">Ajouter des condidats</h4>
              <p class="card-subtitle card-subtitle-dash"></p>
            </div>
            <div>
              <a href="/formcondidat">
              <button
                class="btn btn-primary btn-lg text-white mb-0 me-0"
                type="button"
              >
                <i class="mdi mdi-account-plus"></i>Ajouter un condidat
              </button>
            </a>
            </div>
          </div>
          <div class="table-responsive mt-1">
            <table class="table select-table">
              <thead>
                <tr>
                  <th>Condidat</th>

                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex">
                      <img src="assets/images/faces/face1.jpg" alt="" />
                      <div>
                        <h6>Ganem</h6>
                        <p>voter pour la liberté</p>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="badge badge-opacity-success">Completed</div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="d-flex">
                      <img src="assets/images/faces/face2.jpg" alt="" />
                      <div>
                        <h6>Ichrak</h6>
                        <p>votili</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="badge badge-opacity-success">Completed</div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="d-flex">
                      <img src="assets/images/faces/face4.jpg" alt="" />
                      <div>
                        <h6>Wessim</h6>
                        <p>voter maintenant !</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="badge badge-opacity-success">Completed</div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="d-flex">
                      <img src="assets/images/faces/face5.jpg" alt="" />
                      <div>
                        <h6>molka</h6>
                        <p>voter !</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="badge badge-opacity-success">Completed</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br><br>
