<div class="main-panel-navbaradmin">
  <div class="content-wrapper-add">
    <div class="row">
      <div class="card card-rounded">
        <div class="card-body">
          <div class="d-sm-flex justify-content-between align-items-start">
            <div>
              <h4 class="card-title card-title-dash">Ajouter des condidats</h4>
              <p class="card-subtitle card-subtitle-dash"></p>
            </div>
            <div>
              <a href="/formcondidat">
                <button
                  class="btn btn-primary btn-lg text-white mb-0 me-0"
                  type="button"
                >
                  <i class="mdi mdi-account-plus"></i> Ajouter un condidat
                </button>
              </a>
            </div>
          </div>
          <div class="table-responsive mt-1">
            <table class="table select-table">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let condidat of condidats">
                  <td>
                    <div class="d-flex">
                      <img src="assets/images/faces/face2.jpg" alt="" />
                      <div>
                        <h6>{{ condidat.nom }}</h6>
                        <p>{{ condidat.pseudo }}</p>
                        <p>{{ condidat.cin }}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="badge badge-opacity-success">Completed</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
