<br />
<br />
<br />
<app-navbaruser></app-navbaruser>
<div>
  <!-- ======= About Us Section ======= -->

  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Voter Maintenant !</h2>
    </div>

    <div class="d-flex justify-content-center">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
        <p>
          Bienvenue sur notre plateforme de vote en ligne ! Nous sommes dédiés à
          faciliter la participation démocratique en offrant une solution
          pratique et efficace pour les élections. Que ce soit pour les
          élections politiques, les assemblées générales, les concours ou les
          enquêtes d'opinion, nous sommes là pour vous aider à organiser et à
          gérer le processus de vote. Notre plateforme est sécurisée et facile à
          utiliser, permettant aux votants de voter rapidement et en toute
          confidentialité. Nous sommes fiers de soutenir la démocratie en
          offrant une solution moderne pour faciliter l'expression de la voix de
          chacun.
        </p>
      </div>
      <br />
      <br />

      <div class="d-flex justify-content-center">
        <form>
          <div class="form-group">
            <label for="inputText">Entrer le Code:</label>
            <input
              type="text"
              class="form-control"
              id="inputText"
              name="inputText"
            />
          </div>
          <a href="/voter" class="btn btn-primary">Envoyer</a>
        </form>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div
      class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start"
      data-aos="fade-right"
      data-aos-delay="150"
    >
      <img src="assets/images/icons/counts-img.svg" alt="" class="img-fluid" />
    </div>

    <!-- End About Us Section -->
  </div>
</div>
