<section id="services" class="services">
    <div class="container">
     
      <div class="section-title" data-aos="fade-up">
        <h2>Election N°</h2>
        <p>Voici les détails de cette élections</p>
      </div>
      <h2 class="section-title" data-aos="fade-up">Résultats en temps réel</h2>
       
      <app-realtimeresult></app-realtimeresult>
    <br>
        <h2 class="section-title" data-aos="fade-up">liste des votants autorisé</h2>
        <app-autorizevoters></app-autorizevoters>
        <br>

        <a href="/result">
        <h2 class="section-title" data-aos="fade-up">Résultats de cette élection!</h2>
        </a>


       

    
    </div>
</section>
