
<br>
<br>
<br>
<br>

<div class="section-title" data-aos="fade-up">
  <h2>Tout vos élections !</h2>
 </div>

<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin">
          <div class="card">
            <div class="card-body">
             <h4 class="card-title">Liste Des Election dont vous perticipé !</h4>
              <div class="row">
                <div class="col-md-3 dropdown-menu-static-demo">
                  <div class="dropdown">
                    <a href="/electiondetails">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Election 0XEF00566JKY
                      </button>
                    </a>
                    
                    <div class="dropdown-menu show" aria-labelledby="dropdownMenuButton1">
                    
                        <a class="dropdown-item" href="/result">Voir les Résultats</a>
                        <a class="dropdown-item" href="#">Supprimer Election</a>
                    </div>
                </div>
                </div>
                <div class="col-md-3 dropdown-menu-static-demo">
                  <div class="dropdown">
                    <a href="/electiondetails">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Election 0XEF0077JGD
                      </button>
                    </a>
                    
                    <div class="dropdown-menu show" aria-labelledby="dropdownMenuButton2">
                      
                        <a class="dropdown-item" href="/result">Voir les Résultats</a>
                      <a class="dropdown-item" href="#">Supprimer Election</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 dropdown-menu-static-demo">
                  <div class="dropdown">
                    <a href="/electiondetails">
                    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Election 0XFGHKL00533
                    </button>
                  </a>
                    

                    <div class="dropdown-menu show" aria-labelledby="dropdownMenuButton3">
                      
                        <a class="dropdown-item" href="/result">Voir les Résultats</a>
                        <a class="dropdown-item" href="#">Supprimer Election</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 dropdown-menu-static-demo">
                  <div class="dropdown">
                    <a href="/electiondetails">
                      <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Election 0XBREY8800HEXKK
                      </button>
                    </a>
                    
                    <div class="dropdown-menu show" aria-labelledby="dropdownMenuButton4">
                      
                        <a class="dropdown-item" href="/result">Voir les Résultats</a>
                        <a class="dropdown-item" href="#">Supprimer Election</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 dropdown-menu-static-demo">
                  <div class="dropdown">
                    <a href="/electiondetails">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton8" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Election 0XVBR55FFEHHKK
                  </button>
                </a>
                  
                    <div class="dropdown-menu show" aria-labelledby="dropdownMenuButton8">
                      
                        <a class="dropdown-item" href="/result">Voir les Résultats</a>
                        <a class="dropdown-item" href="#">Supprimer Election</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 dropdown-menu-static-demo">
                  <div class="dropdown">
                    <a href="/electiondetails">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                     Election 0XFDE0094JJ4KKL
                    </button>
                  </a>
                    
                    <div class="dropdown-menu show" aria-labelledby="dropdownMenuButton5">
                      
                        <a class="dropdown-item" href="/result">Voir les Résultats</a>
                        <a class="dropdown-item" href="#">Supprimer Election</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 dropdown-menu-static-demo">
                  <div class="dropdown">
                    <a href="/electiondetails" target="_blank">
                      <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton6" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          Election 0XFGHHH000
                      </button>
                  </a>
                    <div class="dropdown-menu show" aria-labelledby="dropdownMenuButton6">
                      
                        <a class="dropdown-item" href="/result">Voir les Résultats</a>
                        <a class="dropdown-item" href="#">Supprimer Election</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 dropdown-menu-static-demo">
                  <div class="dropdown">
                    <a href="/electiondetails">
                      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton7" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Election 0XCB885544000HXX
                      </button>
                    </a>
                    
                    <div class="dropdown-menu show" aria-labelledby="dropdownMenuButton7">
                      
                      <a class="dropdown-item" href="/result">Voir les Résultats</a>
                      <a class="dropdown-item" href="#">Supprimer Election</a>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
      