<br>
<br>
<br>
<br>

<div class="section-title" data-aos="fade-up">
  <h2>Toutes vos élections !</h2>
</div>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Liste des élections auxquelles participer l'utilisateur {{iduser}} !</h4> 
            <button class="btn btn-danger" (click)="getallelectionbypersonne()" type="button">Obtenir les élections !</button>
           <br>
           <br>
           <br>

            <div class="row">
              <div class="col-md-3" *ngFor="let election of elections">
                <div class="card">
                  <div class="card-header" style="background-color: lightpink;">
                   Election N°: {{election.code}}
                  </div>
                  <div class="card-body" style="background-color: rgb(195, 239, 232);">
                    <a href="/electiondetails" class="">Détails</a>
                    <br>
                    <div class="dropdown">
                      <a class="dropbtns">Actions></a>
                      <div class="dropdown-content">
                        <a href="/result">Voir Statistiques</a>
                        <a href="#/">Supprimer </a>
                        
                      </div>
                    </div>
                    
                    


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
