<app-navbaradmin></app-navbaradmin>
<div class="main-panel-navbaradmin">
  <div class="content-wrapper-add">
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Autorisé des votants !</h4>
            <p class="card-description">ajouter des num de <code>CIN</code></p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>num</th>
                    <th>N° CIN</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>53275531</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>53275532</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>53275533</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>53275534</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>53275535</td>
                  </tr>
                </tbody>
              </table>
              <button type="button" class="btn btn-info">Ajouter+</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<app-footer></app-footer>
