<div class="main-panel-navbaradmin">
  <div class="content-wrapper-add">
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Autorisé des votants !</h4>
            <p class="card-description">ajouter des num de <code>CIN</code></p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>num</th>
                    <th>N° CIN</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let cin of cinAutorise; let i=index">
                    <td>{{i + 1}}</td>
                    <td>{{cin}}</td>
                    <td>
                      <button (click)="supprimer(i)" class="btn btn-danger dropdown-toggle" type="button">
                        supprimer
                      </button>
                    </td>
                  </tr>

                
                </tbody>
              </table>
              <div class="form-group">
                <input type="text"[(ngModel)] ="cin" class="form-control" placeholder="Ajouter CIN">
              </div>
             
                <button (click)="ajoutcin()" type="button" class="btn btn-info">Ajouter+</button>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
