<br />
<br />
<br />

<app-navbaruser></app-navbaruser>
<div class="row flex-grow">
  <div class="col-12 grid-margin stretch-card">
    <div class="card card-rounded">
      <div class="card-body">
        <div class="d-sm-flex justify-content-between align-items-start">
          <div>
            <h4 class="card-title card-title-dash">VOTILI</h4>
            <p class="card-subtitle card-subtitle-dash">
              Il faut que vous votez au moins à un seul candidat !!
            </p>
          </div>
          <div>
            <a
              routerLink="/home"
              class="btn btn-primary btn-lg text-white mb-0 me-0"
            >
              Voter Maintenant !
            </a>
          </div>
        </div>
        <div class="table-responsive mt-1">
          <table class="table select-table">
            <thead>
              <tr>
                <th>
                  <div class="form-check form-check-flat mt-0"></div>
                </th>
                <th>Candidat</th>
                <th>Company</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="form-check form-check-flat mt-0">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="candidat"
                        aria-checked="false" /><i class="input-helper"></i
                    ></label>
                  </div>
                </td>
                <td>
                  <div class="d-flex">
                    <img src="assets/images/faces/face1.jpg" alt="" />
                    <div>
                      <h6>Ganem</h6>
                      <p>voter pour la liberté !</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h6>Company name 1</h6>
                  <p>company type</p>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-check form-check-flat mt-0">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="candidat"
                        aria-checked="false" /><i class="input-helper"></i
                    ></label>
                  </div>
                </td>
                <td>
                  <div class="d-flex">
                    <img src="assets/images/faces/face2.jpg" alt="" />
                    <div>
                      <h6>Ichrak</h6>
                      <p>Head admin</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h6>Company name 1</h6>
                  <p>company type</p>
                </td>
              </tr>
              <tr></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
